.startUp_section {
  display: flex;
  padding: 72px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  .startUp_contain_container {
    display: flex;
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    h1 {
      color: $red500;
      text-align: center;
      font: {
        family: $fontSecond;
        size: 28px;
        style: normal;
        weight: 700;
      }
      line-height: normal;
    }

    #swiper_container {
      display: flex;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      #swiper_wrapper {
        display: flex;
        gap: 24px;
        display: flex;
        width: 100%;
        #swiper_slide {
          width: 100%; /* Each slide takes full width of the container */
          box-sizing: border-box;
          display: flex;
          // width: 840px;
          height: 360px;
          padding: 0px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 24px;
          flex: 1 0 0;
          border-radius: 4px;
          background: url('/img/swiper1.jpg') lightgray 50% / cover no-repeat;

          /* shadow-xs */
          box-shadow: $shadowXS;

          .swiper-slide {
            img {
              width: 100%;
            }
          }

          .swiper_slide_text_container {
            display: flex;
            padding: 32px 24px 24px 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 0px;
            align-self: stretch;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
            h3 {
              color: $WhiteColor;
              font: {
                family: $fontFirst;
                size: 24px;
                style: normal;
                weight: 700;
              }
              line-height: 36px; /* 150% */
            }
            p {
              color: $WhiteColor;
              font: {
                family: $fontFirst;
                size: 16px;
                style: normal;
                weight: 400;
              }
              line-height: 24px; /* 150% */
            }
          }
        }
        .swiper_slide_1 {
          display: flex;
          height: 360px;
          padding: 0px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 24px;
          flex: 1 0 0;
          border-radius: 4px;
          background: url('/img/swiper2.png') lightgray 50% / cover no-repeat;

          /* shadow-xs */
          box-shadow: $shadowXS;
        }
      }
    }
  }
}

// .swiper-button-container {
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
// }

/* General Swiper Container */
.swiper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 60px; /* Space for navigation buttons and pagination */
}

#swiper_container {
  width: 100%;
  overflow: hidden;
}

#swiper_wrapper {
  display: flex;
  gap: 20px;
}

/* Swiper Slides */
.swiper-slide img {
  width: 100%;
  border-radius: 8px;
}

/* Controls Container (Pagination and Navigation Buttons) */
.swiper-button-container {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Pagination Styling */
.swiper-pagination {
  display: flex;
  gap: 8px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b91c1c; /* Active dot color */
}

/* Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: #b91c1c;
  color: white;
  border: none;
  padding: 26px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 35px;
  height: 35px;
}

.swiper-button-prev {
  margin-right: auto;
  position: absolute;
  left: 1175px;
  top: -14px;
  @media only screen and (max-width: 767px) {
    left: 50% !important;
  }
}

.swiper-button-next {
  margin-left: auto;
  position: absolute;
  top: -14px;
  right: 38px;
  @media only screen and (max-width: 767px) {
    right: 30px;
  }
  // @media only screen and (min-width: 320px) and (max-width: 425px) {
  //   right: 60px;
  // }
}
