//font
$fontFirst: 'Roboto', serif;
$fontSecond: 'Outfit', serif;
$fontThird: 'Poppins', serif;

//Black and white

$WhiteColor: #ffffff;
$BlackColor: #000000;

// text color
$textPrimaryColor: #27272a;
$textSecondaryColor: #52525b;
$textMutedColor: #a1a1aa;
$textBrandColor: #b91c1c;

//Surface Color

$surfPrimaryColor: #fafafa;
$surfSecondaryColor: #3f3f46;
$surfBrandColor: #dc2626;
$surfLightColor: #ffffff;
$surfInvertColor: #f4f4f5;

//Border Color
$borderPrimaryColor: #e4e4e7;
$borderBrandColor: #ef4444;
$borderDarkColor: #3f3f46;
$borderLightColor: #fafafa;
$borderInvertColor: #e2e8f0;

//shadow
$shadowMD: 0px 24px 40px 6px rgba(30, 41, 59, 0.05);
$shadowXS: 0px 3px 5px 0px rgba(30, 41, 59, 0.03);

//normal color
$zinc300: #d4d4d8;
$zinc400: #a1a1aa;
$slate50: #f8fafc;
$slate300: #cbd5e1;
$slate500: #64748b;
$slate600: #475569;
$red300: #fca5a5;
$red500: #ef4444;
$slate700: #334155;
$green500: #16a34a;
$green600: #16a34a;
$textMuted: #a1a1aa;

//button color
$buttonRedColor: #dc2626;

//font size
$fontSizeSm: 16px;

//font weight
$fontWeightBold: 700;

//Main width
$small: 270px;
$medium: 767px;
.container {
  width: 1400px;
  margin: 0 auto;
  @media only screen and (min-width: $small) and (max-width: $medium) {
    width: 96%;
  }
}

//button
.red_button {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  background: $buttonRedColor;
  color: $WhiteColor;

  /* title/sm */
  font-family: 'Roboto', serif;
  font-size: $fontSizeSm;
  font-style: normal;
  font-weight: $fontWeightBold;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 5px 0px rgba(222, 0, 0, 0.2);
  }
}

.notActiveButton {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  background: $surfInvertColor;
  color: $textSecondaryColor;

  /* title/sm */
  font-family: 'Roboto', serif;
  font-size: $fontSizeSm;
  font-style: normal;
  font-weight: $fontWeightBold;
  line-height: 24px;
  cursor: pointer;

  // &:hover {
  //   box-shadow: 0px 3px 5px 0px rgba(212, 123, 123, 0.2);
  // }
}

//// bottom hero

// small card styel

.card {
  height: 260px;
  width: 100px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 4px;
  background: $WhiteColor;

  /* shadow-xs */
  box-shadow: $shadowXS;
}

.card_heading {
  color: $textPrimaryColor;
  font-family: $fontFirst;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}

.card_text {
  color: $slate500;
  font-family: $fontFirst;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* this area is for There are 3 stage title*/
// accordian
.ul_li1 {
  li {
    margin-left: 25px;
  }
}
.accordion_title_text {
  display: flex;
  gap: 16px;
  .accordion_title_num {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    background: $surfBrandColor;
    font-family: $fontFirst;
    color: $WhiteColor;
    font-weight: 700;
  }
  p {
    display: flex;
  }
}

.direction_svg {
  position: absolute;
  right: 415px;
  top: 3535px;
}

//title text

.title_text {
  color: $slate700;
  font: {
    family: $fontFirst;
    size: 24px;
    style: normal;
    weight: 700;
  }
  line-height: 36px;
}
// title number for learning
.title_number {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: $surfBrandColor;
  color: $WhiteColor;
  font: {
    family: $fontFirst;
    size: 24px;
    style: normal;
    weight: 700;
  }
  line-height: 36px;
}
.arrow_icon_container {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: $surfInvertColor;
  width: 32px;
  height: 32px;
  justify-content: center;
  span {
    color: $textPrimaryColor;
  }
}

// foooter
.foooter {
  background-color: #52525b;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f8fafc;
  font-family: $fontThird;
  font-size: 30px;
}
