.learning_area {
  margin-top: 470px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $surfInvertColor;
  gap: 48px;
  padding: 72px;
  width: 100%;

  .learning_area_title_text {
    color: $red500;
    font-family: $fontSecond;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .container_accordion {
    display: flex;
    width: 1400px;
    height: 625px;
    gap: 24px;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .accordion {
    width: 50%;
    background-color: #fff;
    border-radius: 4px;
    gap: 16px;
  }

  // .accordion-item .active {
  //   border-bottom: 3px solid $surfBrandColor;
  // }

  .accordion-item {
    border-bottom: 1px solid #ddd;
    padding: 32px;
    gap: 16px;
  }

  .accordion-button {
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: $slate700;
    font-weight: 700;
    /* title/xl */
    font-family: $fontFirst;
    font-size: 24px;
    font-style: normal;
    line-height: 36px; /* 150% */
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0;
    justify-content: space-between;
    align-items: center;
    .arrow_style {
      display: flex;
      padding: 8px;
      align-items: center;
      gap: 10px;
      border-radius: 360px;
      background: $surfInvertColor;
    }
  }

  // .accordion-button.active {
  //   // this style for accordion title box when it active
  // }

  .accordion-content {
    padding: 0 15px 15px;
    display: none;
  }

  .accordion-content p {
    margin: 0;
    color: $textSecondaryColor;
    font-family: $fontFirst;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  #accordion_content_text {
    color: $textBrandColor;
    font-family: $fontFirst;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .content-display {
    width: 50%;
    background-color: #f9f9ff;
    background-image: url('/img/dog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontThird;
    color: $WhiteColor;
    border-radius: 4px;
  }
  #content1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    display: flex;
    height: 100%;
    padding: 32px;
    gap: 4px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .content {
    display: none;
  }

  .content.active {
    display: block;
  }

  .content img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .content h3 {
    margin-top: 0;
  }

  /* Arrow icon rotation */
  .arrow {
    transition: transform 0.3s ease;
  }

  .accordion-button.active .arrow {
    transform: rotate(180deg);
  }
}

.book_course {
  margin-top: 60px;
  display: flex;
  max-width: 1400px;
  padding: 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: $WhiteColor;
  p {
    color: $textPrimaryColor;

    /* title/sm */
    font-family: $fontFirst;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}
